var config = {
  remember: true // remember user
, useRemembered: true // use last remembered user
, user: '<SPOTIFY LOGIN>'
, password: '<SPOTIFY PASSWORD>'
, libspotify: {
    appkeyFile: './spotify_appkey.key' // https://developer.spotify.com/technologies/libspotify/#application-keys
  , cacheFolder: 'cache'
  , settingsFolder: 'settings'
  }
, baseUrl: process.env.BASEURL || 'http://localhost' // server url
, port: process.env.PORT || 4000 // server port
};

config.path = config.baseUrl + ':' + config.port;

module.exports = config;
