doctype html
html
  head
    title Discoteca!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900', rel='stylesheet', type='text/css')
  body
    .current
      .container
        img.album
        .info-wrapper
          .info
          .time
    nav
      .container
        a.active(href="#" data-toggle="section-queue") Queue
        a(href="#" data-toggle="section-search") Search
        .stats
    main.container
      section.section-queue
        table.table
          thead
            tr
              th Track
              th Artist
              th Time
          tbody
        ul.queue-list
      section.section-search
        .search
          form.form-search
            input.search-input(type='text', placeholder='Search tracks, artists or albums')
            button.search-btn(type='submit') Search
        table.table
          thead
            tr
              th Track
              th Artist
              th Time
              th
          tbody
    block content
    block scripts
      script(src="http://code.jquery.com/jquery-1.11.0.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/build.js")
